In [1]:
#importing python libraries
import os
import sys
import torch
import syft as sy
from syft import Variable as Var
from syft import nn
from syft import optim

In [2]:
module_path = os.path.abspath(os.path.join('./PySyft'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
# creating hook instance which will overload all operations required for federate learning activity
hook = sy.TorchHook()
host_machine = hook.local_worker

mobile_device_1 = sy.VirtualWorker(id="mobile_device_1",hook=hook)
mobile_device_2= sy.VirtualWorker(id="mobile_device_2",hook=hook)

host_machine.add_worker(mobile_device_1)
host_machine.add_worker(mobile_device_2)

WARNING:root:Worker mobile_device_1 already exists. Replacing old worker which could cause unexpected behavior
WARNING:root:Worker mobile_device_2 already exists. Replacing old worker which could cause unexpected behavior

In [4]:
# importing dataset

#information about dataset
#Predictor Variable: Gender(Male: 1 , Female: 0) ,Age ,Tenure(Time period of the account),
#                    Balance(Amount in the account) ,HasCrCard(has credit card(yes: 1 , no: 0))
#                    IsActiveMember(Active status(yes: 1 , no: 0)) ,Estimated salary
#Target Variable:    Exited(has exited(yes:1 , no: 0))
import pandas as pd
dataset_read=pd.read_csv("bank_dataset.csv", sep=',')
dataset_read.head()

,Gender,Age,Tenure,Balance,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,42,2,0.00,1,1,101348.88,1
1,0,41,1,83807.86,0,1,112542.58,0
2,0,42,8,159660.80,1,0,113931.57,1
3,0,39,1,0.00,0,0,93826.63,0
4,0,43,2,125510.82,1,1,79084.10,0

In [5]:
dataset_read=dataset_read[dataset_read.Balance!=0.00]

In [6]:
dataset_read.head()

,Gender,Age,Tenure,Balance,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1,0,41,1,83807.86,0,1,112542.58,0
2,0,42,8,159660.80,1,0,113931.57,1
4,0,43,2,125510.82,1,1,79084.10,0
5,1,44,8,113755.78,1,0,149756.71,1
7,0,29,4,115046.74,1,0,119346.88,1

In [7]:
dataset_read.shape

(6383, 8)

In [8]:
#Rescaling the data 
Age_mean_val=dataset_read.Age.mean()
Age_mean_val

39.19771267429108

In [9]:
dataset_read.Age=dataset_read.Age/Age_mean_val

In [10]:
Balance_mean_val=dataset_read.Balance.mean()
Balance_mean_val

119827.49379288674

In [11]:
dataset_read.Balance=dataset_read.Balance/Balance_mean_val

In [12]:
EstimatedSalary_mean_val=dataset_read.EstimatedSalary.mean()
EstimatedSalary_mean_val

100717.35295629001

In [13]:
dataset_read.EstimatedSalary=dataset_read.EstimatedSalary/EstimatedSalary_mean_val

In [14]:
Tenure_mean_val=dataset_read.Tenure.mean()
Tenure_mean_val

4.979633401221996

In [15]:
dataset_read.Tenure=dataset_read.Tenure/Tenure_mean_val

In [16]:
# dataset after rescaling
dataset_read.head()

,Gender,Age,Tenure,Balance,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1,0,1.045979,0.200818,0.699404,0,1,1.117410,0
2,0,1.071491,1.606544,1.332422,1,0,1.131201,1
4,0,1.097003,0.401636,1.047429,1,1,0.785208,0
5,1,1.122514,1.606544,0.949330,1,0,1.486901,1
7,0,0.739839,0.803272,0.960103,1,0,1.184968,1

In [17]:
# converting data in numpy array
import numpy as np
target=np.array(dataset_read.Exited)

pre_data=dataset_read.as_matrix(columns=dataset_read.columns[:-1])

/home/raj/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [18]:
pre_data[0]

array([0.        , 1.0459794 , 0.200818  , 0.69940426, 0.        ,
       1.        , 1.11741003])

In [19]:
predictor = Var(sy.FloatTensor(pre_data))
target = Var(sy.LongTensor(target))

In [20]:
# sending data to two virtual worker
predictor_MD_1 = predictor[0:5000].send(mobile_device_1)
target_MD_1 = target[0:5000].send(mobile_device_1)

predictor_MD_2 = predictor[5000:].send(mobile_device_2)
target_MD_2 = target[5000:].send(mobile_device_2)

In [21]:
# Model definition

input_size=7
num_classes=2
learning_rate=0.01
epochs=300

class LogisticRegression(nn.Module): 
    def __init__(self, input_size, num_classes): 
        super(LogisticRegression, self).__init__() 
        self.linear = nn.Linear(input_size, num_classes) 
  
    def forward(self, x): 
        out = self.linear(x) 
        return out
    
model = LogisticRegression(input_size, num_classes) 
#model=nn.Linear(input_size,num_classes)
# Loss and Optimizer 
# Softmax is internally computed. 

criterion = nn.CrossEntropyLoss() 
optimizer = optim.SGD(params=model.parameters(), lr = learning_rate)

In [22]:
# Training over distributed dataset
datasets = [(predictor_MD_1,target_MD_1),(predictor_MD_2,target_MD_2)]

for iter in range(epochs):
    for data, target in datasets:
           
            model.send(data.location)
            
            # update the model
            
            optimizer.zero_grad()
            pred = model(data)
            #print(pred)
            #print(target)
            
            loss = criterion(pred, target)
            loss.backward()
            model.get()
            optimizer.step()
            print(loss.get().data[0])

0.7477648258209229
0.7365473508834839
0.7261958718299866
0.7158901691436768
0.7070816159248352
0.6975600719451904
0.6901471018791199
0.6813010573387146
0.6751525402069092
0.6668809056282043
0.6618748307228088
0.6540884971618652
0.6501137018203735
0.6427356600761414
0.6396939158439636
0.6326553225517273
0.6304564476013184
0.6236971616744995
0.622262716293335
0.6157307028770447
0.6149895191192627
0.6086391806602478
0.6085241436958313
0.6023189425468445
0.6027761697769165
0.5966811180114746
0.5976546406745911
0.5916453003883362
0.5930914878845215
0.5871419906616211
0.5890182256698608
0.5831102728843689
0.5853804349899292
0.5794960856437683
0.5821259021759033
0.5762515664100647
0.5792121291160583
0.5733364820480347
0.5765990018844604
0.570712685585022
0.5742517709732056
0.5683479309082031
0.5721433758735657
0.5662144422531128
0.5702434778213501
0.5642862915992737
0.5685329437255859
0.5625420808792114
0.5669878721237183
0.5609614849090576
0.5655932426452637
0.5595287084579468
0.5643298625946045
0.5582258701324463
0.5631853342056274
0.5570409297943115
0.5621449947357178
0.5559603571891785
0.5612002015113831
0.5549750328063965
0.5603398680686951
0.5540744066238403
0.559555172920227
0.5532494187355042
0.5588392615318298
0.5524945855140686
0.5581832528114319
0.551800012588501
0.5575814247131348
0.5511624813079834
0.5570293068885803
0.5505740642547607
0.5565195679664612
0.5500313639640808
0.5560505986213684
0.5495301485061646
0.5556164383888245
0.549065887928009
0.5552152395248413
0.5486352443695068
0.5548424124717712
0.5482338070869446
0.554495632648468
0.5478607416152954
0.5541731715202332
0.5475126504898071
0.5538710355758667
0.5471875667572021
0.5535882711410522
0.5468837022781372
0.5533204078674316
0.5465961694717407
0.5530717968940735
0.5463272333145142
0.5528345108032227
0.546073317527771
0.5526129007339478
0.5458335876464844
0.5524001717567444
0.5456071496009827
0.5521968007087708
0.5453928112983704
0.5520048141479492
0.5451883673667908
0.5518207550048828
0.5449944734573364
0.5516452193260193
0.544808566570282
0.5514751076698303
0.5446300506591797
0.5513124465942383
0.5444605946540833
0.5511554479598999
0.5442977547645569
0.551003098487854
0.5441403985023499
0.5508540868759155
0.5439897179603577
0.5507121086120605
0.5438439249992371
0.5505735874176025
0.5437028408050537
0.550436794757843
0.5435662269592285
0.5503045320510864
0.5434339642524719
0.5501754283905029
0.5433048009872437
0.5500473976135254
0.5431801080703735
0.5499224066734314
0.5430580973625183
0.5497995615005493
0.542939305305481
0.5496803522109985
0.5428227782249451
0.5495615005493164
0.5427089333534241
0.5494445562362671
0.5425974726676941
0.5493287444114685
0.542488157749176
0.5492143630981445
0.5423814058303833
0.549101710319519
0.5422757863998413
0.5489901900291443
0.5421720743179321
0.5488802790641785
0.5420706868171692
0.5487706065177917
0.5419691801071167
0.5486612915992737
0.5418704748153687
0.548553466796875
0.5417727828025818
0.5484470129013062
0.5416763424873352
0.548340380191803
0.5415806174278259
0.5482344627380371
0.5414873361587524
0.548129141330719
0.5413933396339417
0.548026442527771
0.5413002967834473
0.5479210019111633
0.5412100553512573
0.5478186011314392
0.541118860244751
0.5477149486541748
0.5410292744636536
0.5476126074790955
0.5409409403800964
0.5475106239318848
0.5408520698547363
0.5474075675010681
0.5407640337944031
0.5473068952560425
0.5406767129898071
0.547205924987793
0.5405910015106201
0.5471054911613464
0.5405049920082092
0.5470044016838074
0.5404199957847595
0.5469045042991638
0.540335476398468
0.5468044281005859
0.5402511358261108
0.5467055439949036
0.5401673913002014
0.5466061234474182
0.5400841236114502
0.5465073585510254
0.5400010347366333
0.5464094877243042
0.539919376373291
0.5463104248046875
0.5398375391960144
0.546211302280426
0.5397557616233826
0.5461137890815735
0.5396746397018433
0.5460160970687866
0.539594292640686
0.5459186434745789
0.5395141243934631
0.545822024345398
0.539434015750885
0.5457254648208618
0.539354145526886
0.5456293225288391
0.5392743945121765
0.5455312132835388
0.5391959547996521
0.5454346537590027
0.5391165018081665
0.5453392863273621
0.5390382409095764
0.5452431440353394
0.5389605760574341
0.5451480150222778
0.5388826131820679
0.5450515151023865
0.5388057231903076
0.5449571013450623
0.5387283563613892
0.5448628664016724
0.5386509895324707
0.5447673201560974
0.5385749936103821
0.544671893119812
0.5384982824325562
0.5445772409439087
0.5384223461151123
0.5444838404655457
0.5383468270301819
0.5443899035453796
0.5382711887359619
0.5442957878112793
0.5381957292556763
0.5442022681236267
0.5381210446357727
0.5441080331802368
0.5380455851554871
0.5440161824226379
0.5379710793495178
0.543923020362854
0.5378968119621277
0.5438297390937805
0.5378232598304749
0.5437370538711548
0.5377490520477295
0.5436444282531738
0.5376753807067871
0.5435524582862854
0.5376019477844238
0.5434600114822388
0.5375288724899292
0.5433691740036011
0.5374555587768555
0.5432764887809753
0.5373830199241638
0.5431864857673645
0.5373110175132751
0.5430944561958313
0.5372382402420044
0.5430029034614563
0.5371667146682739
0.5429130792617798
0.5370945930480957
0.542822003364563
0.5370228290557861
0.5427320003509521
0.5369511842727661
0.5426419377326965
0.5368801951408386
0.5425522923469543
0.5368095636367798
0.5424622297286987
0.5367381572723389
0.5423726439476013
0.5366679430007935
0.542283833026886
0.5365973114967346
0.5421940684318542
0.5365273356437683
0.5421048998832703
0.5364573001861572
0.5420149564743042
0.5363873243331909
0.5419278740882874
0.5363175868988037
0.5418391227722168
0.5362489819526672
0.5417518019676208
0.5361793041229248
0.5416631698608398
0.5361101031303406
0.5415767431259155
0.5360416173934937
0.5414885878562927
0.535972535610199
0.5414006114006042
0.5359039902687073
0.5413145422935486
0.5358361005783081
0.5412274599075317
0.5357680320739746
0.541140079498291
0.535700261592865
0.5410539507865906
0.5356327295303345
0.5409670472145081
0.5355643630027771
0.5408812761306763
0.5354975461959839
0.5407962203025818
0.5354306697845459
0.540708601474762
0.535363495349884
0.5406237840652466
0.5352967381477356
0.5405384302139282
0.5352301001548767
0.5404543280601501
0.5351634621620178
0.5403692126274109
0.535097599029541
0.5402835607528687
0.5350317358970642
0.5401988625526428
0.5349656343460083
0.5401158332824707
0.5348994135856628
0.5400317907333374
0.5348341464996338
0.5399473309516907
0.5347689986228943
0.5398633480072021
0.5347039699554443
0.5397796630859375
0.534637987613678
0.539695143699646
0.5345737934112549
0.539613664150238
0.5345091819763184
0.539530336856842
0.5344452261924744
0.5394471883773804
0.5343805551528931
0.53936368227005
0.5343167185783386
0.5392820835113525
0.5342520475387573
0.539199709892273
0.5341889262199402
0.5391188859939575
0.534124493598938
0.5390361547470093
0.5340616703033447
0.5389537811279297
0.5339980125427246
0.5388734936714172
0.5339347720146179
0.5387927293777466
0.5338718891143799
0.5387108325958252
0.5338089466094971
0.538630485534668
0.5337465405464172
0.5385491847991943
0.5336833596229553
0.5384684205055237
0.5336219072341919
0.538388729095459
0.5335595011711121
0.5383080840110779
0.533498227596283
0.5382281541824341
0.5334358811378479
0.5381485819816589
0.5333747267723083
0.5380688309669495
0.5333127379417419
0.5379888415336609
0.5332513451576233
0.5379089117050171
0.533190906047821
0.5378297567367554
0.5331294536590576
0.5377511382102966
0.5330684781074524
0.5376728177070618
0.533007800579071
0.5375940203666687
0.5329473614692688
0.5375168919563293
0.5328872799873352
0.5374382734298706
0.5328264832496643
0.5373610854148865
0.532766580581665
0.5372829437255859
0.5327067971229553
0.5372046828269958
0.532646656036377
0.5371278524398804
0.5325872302055359
0.5370497107505798
0.5325273871421814
0.5369734168052673
0.5324683785438538
0.5368967652320862
0.532409131526947
0.5368194580078125
0.5323505401611328
0.5367423295974731
0.5322912931442261
0.5366682410240173
0.5322327613830566
0.5365896224975586
0.5321744680404663
0.5365147590637207
0.5321158170700073
0.5364391803741455
0.5320578813552856
0.5363629460334778
0.5320001840591431
0.5362877249717712
0.5319419503211975
0.5362116694450378
0.5318838953971863
0.5361374616622925
0.531826376914978
0.5360619425773621
0.5317687392234802
0.5359864830970764
0.5317118763923645

0.5359119176864624
0.5316547155380249
0.5358366370201111
0.5315976142883301
0.5357626080513
0.5315403342247009
0.5356888771057129
0.5314838290214539
0.5356162190437317
0.5314273238182068
0.5355412364006042
0.5313706398010254
0.535469114780426
0.5313137769699097
0.5353958606719971
0.5312578678131104
0.5353212952613831
0.5312020778656006
0.5352497696876526
0.5311463475227356
0.535176157951355
0.5310904383659363
0.5351033806800842
0.5310348868370056
0.5350297689437866
0.5309793949127197
0.5349586009979248
0.5309236645698547
0.5348849892616272
0.5308685302734375
0.5348140001296997
0.5308135151863098
0.5347431898117065
0.5307584404945374
0.5346692800521851
0.5307040214538574
0.5345984101295471
0.5306496024131775
0.5345265865325928
0.5305947065353394
0.5344552993774414
0.5305402874946594
0.5343841314315796
0.5304863452911377
0.5343131422996521
0.5304321646690369
0.534242570400238
0.5303779244422913
0.5341724753379822
0.5303248763084412
0.534101128578186
0.530271589756012
0.5340316891670227
0.5302174091339111
0.5339605212211609
0.5301645994186401
0.5338900685310364
0.5301106572151184
0.5338215827941895
0.5300573706626892
0.533751368522644
0.5300052762031555
0.5336810946464539
0.529952883720398
0.5336136221885681
0.529899001121521
0.5335431694984436
0.5298463106155396
0.5334754586219788
0.5297937393188477
0.533405601978302
0.5297417044639587
0.5333361625671387
0.5296894907951355
0.5332671403884888
0.5296375155448914
0.5331997275352478
0.5295854806900024
0.5331312417984009
0.529533326625824
0.533062219619751
0.5294819474220276
0.5329951047897339
0.5294298529624939
0.5329270958900452
0.5293790698051453
0.5328595042228699
0.5293275117874146
0.5327919125556946
0.5292760133743286
0.5327253341674805
0.5292255282402039
0.5326577425003052
0.5291749835014343
0.5325902104377747
0.5291240811347961
0.532522976398468
0.5290727615356445
0.5324576497077942
0.5290222764015198
0.5323891043663025
0.5289714336395264
0.5323241353034973
0.5289221405982971
0.5322571992874146
0.5288719534873962
0.5321905016899109
0.5288216471672058
0.5321255922317505
0.5287715792655945
0.5320590138435364
0.5287219285964966
0.5319926142692566
0.5286721587181091
0.5319269895553589
0.5286228656768799
0.5318619608879089
0.5285733938217163
0.5317981243133545
0.5285237431526184
0.5317322015762329
0.528474748134613
0.5316672921180725
0.528425931930542
0.5316024422645569
0.5283762812614441
0.5315373539924622
0.5283283591270447
0.5314720869064331
0.5282796621322632
0.5314086675643921
0.5282304883003235
0.5313448309898376
0.528182327747345
0.5312801003456116
0.5281340479850769
0.5312153697013855
0.5280858874320984
0.5311515927314758
0.5280376672744751
0.5310879349708557
0.5279903411865234
0.5310254693031311
0.5279422998428345
0.5309615731239319
0.5278937816619873
0.5308982729911804
0.52784663438797
0.530836284160614
0.527799129486084
0.5307715535163879
0.5277514457702637
0.5307089686393738
0.5277042388916016
0.530647337436676
0.5276572704315186
0.5305822491645813
0.5276097655296326
0.5305213332176208
0.5275633335113525

In [23]:
#testing model
p=model(predictor_MD_1.get())

In [24]:
_, predicted = sy.max(p.data, 1)

In [25]:
predicted

 0
 0
 0
⋮
 0
 0
 0
[syft.core.frameworks.torch.tensor.LongTensor of size 5000]

In [26]:
actual_val=target_MD_1.get()

In [27]:
actual_val

Variable containing:
 0
 1
 0
⋮
 0
 0
 0
[syft.core.frameworks.torch.tensor.LongTensor of size 5000]

In [28]:
total=len(actual_val)
correct=0
for i in range(total):
     correct += (predicted[i] == actual_val[i]).sum()

In [29]:
#obtained accuracy
accuracy=100*(int(correct)/total)
accuracy

4.02